<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MapsMapper">
	<!-- マップを全件取得 -->
<select id="getAllMaps" resultType="com.example.demo.entity.GameMap">
	SELECT id, maps_name FROM maps ORDER BY id
</select>

	<!-- idでマップを一件取得 -->
<select id ="getMapByName" resultType="com.example.demo.entity.GameMap">
	SELECT id, maps_name FROM maps WHERE id = #{id}
</select>

</mapper>